@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0px solid #232b2b;
}

html {
  /* firefox scroll styling */
  scrollbar-width: thin !important;
  scrollbar-color: #0381f9 #cecece;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #cecece;
}

::-webkit-scrollbar-thumb {
  background-color: #0381f9;
}

.x-scroll::-webkit-scrollbar {
  display: none;
}

button {
  outline: 0;
}

@media (prefers-color-scheme: dark) {
  * {
    border-color: #fffefd;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #025cb1;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 1.6rem rgba(255, 255, 255, 0);
  }
}

.sideways-lr {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

.ripple {
  margin: auto;
  width: 1rem;
  height: 1rem;
  display: grid;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f5f5f5;
  animation: ripple 3s linear infinite;
}

.ripple::before,
.ripple::after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  animation: inherit;
  animation-delay: 1s;
}

.ripple::after {
  animation-delay: 2s;
}
