@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --romance: #fffefd;
  --wild-sand: #f5f5f5;
  --endeavour: #025cb1;
  --alto-light: #cecece;
  --outer-space: #232b2b;
  --azure-radiance: #0381f9;
}

* {
  border: 0px solid var(--outer-space);
}

html {
  /* firefox scroll styling */
  scrollbar-width: thin !important;
  scrollbar-color: var(--azure-radiance) var(--alto-light);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--alto-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--azure-radiance);
}

.x-scroll::-webkit-scrollbar {
  display: none;
}

button {
  outline: 0;
}

@media (prefers-color-scheme: dark) {
  * {
    border-color: var(--romance);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--endeavour);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 1.6rem rgba(255, 255, 255, 0);
  }
}

.sideways-lr {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

.ripple {
  margin: auto;
  width: 1rem;
  height: 1rem;
  display: grid;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--wild-sand);
  animation: ripple 3s linear infinite;
}

.ripple::before,
.ripple::after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  animation: inherit;
  animation-delay: 1s;
}

.ripple::after {
  animation-delay: 2s;
}
